@import "./general.css";


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Map                                                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#map {
  margin: 1rem 0;
  height: 50vh;
  width: 100%;
}