@import "./general.css";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Hero                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
section:first-child {
  margin-top: 0;
}
figure {
  overflow: hidden;
  background-image: url('../media/tim-swaan-eOpewngf68w-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - var(--header-height));
  display: grid;
  place-items: center;
  
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.caption {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}

img {
  height: calc(100vh - var(--header-height));


}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
section {
  margin: 1rem 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Map                                                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#map {
  height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem);
  width: 100%;
}

.map-container {
  position: relative;
  width: 100%;
  max-height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem);
}

.map-cover {
  position: absolute;
  inset: 0;
  background-color: darkgrey;
  display: grid;
  place-items: center;
  height: 100%;
}

.loading {
  --app-side: 5rem;
  border: 1px solid white;
  border-radius: 50%;
  height: var(--app-side);
  width: var(--app-side);
  border-bottom: none;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0%  {transform: none}
  50% {transform: rotate(0.5turn)}
  100% {transform: rotate(1.0turn)}
}
